{% extends "innerlayout.html" %}
{% block title %}Woody's Login{% endblock %}
{% block content %}
<body class="hold-transition layout-top-nav">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> Home</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"></h5>
                    <p class="card-text">
                      <h3>Welcome to Woody's Automative Online</h3>
                    </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}