{% extends "layout.html" %}
{% block title %}Woody's Registration{% endblock %}
{% block content %}
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
            <a href="{{url_for('home.index')}}" class="h1 text-normal">Registation</a>
            </div>
            <div class="card-body">
            <p class="login-box-msg">Register a new membership</p>
                <form method="post">
                    <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Full name" name="fullname">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-user"></span>
                        </div>
                    </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="textbox" class="form-control" placeholder="Mobile Number" name="phone">
                        <div class="input-group-append">
                            <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    </div>
                    <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Retype password" name="confirmpassword">
                    <div class="input-group-append">
                        <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <!-- /.col -->
                    <div class="offset-md-4 col-4">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                    <!-- /.col -->
                    </div>
                </form>  
                <div class="text-center mt-2">
                    <a href="{{url_for('home.index')}}">Already a member, Login Here</a>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}